/* style.css */


body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #1c62b1;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
 }
 
 
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
 }
 
 
 .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
 }
 
 
 .main-header {
  background-color: #1c62b1;
  height: 107px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 
 
 .main-header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin: 0 10px;
 }
 
 
 .main-header a:hover {
  color: #ccc;
 }
 
 
 .nav-items {
  display: flex;
  align-items: center;
 }
 
 
 .main-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
 }
 
 
 .main-footer a {
  color: #fff;
  text-decoration: none;
 }
 
 
 .main-footer a:hover {
  color: #ccc;
 }
 
 
 form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
 }
 
 
 input[type='text'], input[type='password'] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
 }
 
 
 input[type='submit'] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #1c62b1;
  border: 0;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
 }
 
 
 input[type='submit']:hover {
  background-color: #ccc;
  color: #333;
 }
 
 
 .content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 160px);
 }
 .table {
  width: 100%;
  border-collapse: collapse;
 }
 
 
 table td {
  padding: 10px;
  border: 1px solid #ddd;
  vertical-align: top;
 }
 
 
 table th {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  text-align: left;
 }
 
 
 .actions {
  white-space: nowrap;
 }
 .inline-form {
  display: inline;
  margin-right: 5px;
 }
 .actions form {
  background-color: transparent;
  box-shadow: none;
 }
 .actions form,
 .bottom-buttons form {
  background-color: transparent;
  box-shadow: none;
 }
 .no-style-form {
  background-color: transparent;
  box-shadow: none;
  padding: 0;
 }
 /* style.css */
 
 
 .flashcards-table th:nth-child(1) {
  width: 36%;
 }
 
 
 .flashcards-table th:nth-child(2) {
  width: 36%;
 }
 
 
 .flashcards-table th:nth-child(3) {
  width: 28%;
 }
 
 
 .flashcards-table td, .flashcards-table th {
  overflow-wrap: break-word;
  word-wrap: break-word;
 }
 /* style.css */
 
 
 .flashcards-table {
  table-layout: fixed;
  width: 80%;
  margin: 0 auto;
 }
 .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
 }
 
 
 .nav-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
 }
 
 
 .nav-item {
  margin-left: 10.5px;
  color: #f0f0f0;
 }
 
 
 .nav-link {
  text-decoration: none;
  color: inherit;
 }
 
 
 .logout-link {
  text-decoration: none;
  color: inherit;
 }
 
 
 .profile-link {
  text-decoration: none;
  color: inherit;
  margin-right: 15px;
 }
 .btn-custom {
  background-color: #1c62b1;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
 }
 
 
 .btn-custom:hover {
  background-color: #cccccc;
  transform: scale(1.05);
 }
 
 
 .btn-custom:focus {
  outline: none;
 }
 .flashcard-sets {
  list-style-type: none;
  padding: 0;
 }
 
 
 .flashcard-set {
  text-align: center;
  margin-bottom: 1rem;
 }
 
 
 .set-title {
  margin-bottom: 0.5rem;
 }
 
 
 .set-description {
  margin-bottom: 0.5rem;
 }
 .section-title {
  text-align: center;
  margin-bottom: 1rem;
 }
 .card {
  width: 300px;
 
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
 }
 
 
 .card .card-title, .card .card-text {
  margin: 0;
  text-align: center;
 }
 .chat-container {
  max-height: 70vh;
  overflow-y: auto;
  margin-bottom: 2rem;
 }
 
 
 .user-message,
 .tutor-message {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  max-width: 75%;
 }
 
 
 .user-message {
  background-color: #f8f9fa;
  color: #212529;
  align-self: flex-end;
 }
 
 
 .tutor-message {
  background-color: #1c62b1;
  color: #ffffff;
  align-self: flex-start;
 }
 form.inline-form {
  display: inline;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
 }
 .search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
 }
 
 
 .search-results li {
  font-size: 1.5rem;
  margin-bottom: 1rem;
 }
 .search-results-title {
  display: block;
  text-align: center;
 }
 .search-form {
  background-color: transparent;
  box-shadow: none;
 }
 
 
 .search-form-group {
  background-color: #1c62b1;
  border-radius: 5px;
  display: inline-block;
 }
 
 
 .search-form-group input[type="text"] {
  background-color: #1c62b1;
  border-color: #1c62b1;
 }
 .main-header {
  position: relative;
 }
 .nav {
  background-color: #1c62b1;
 }
 
 
 .search-form-container {
  background-color: transparent;
 }
 
 
 .search-input {
  background-color: #fff;
  border-color: #fff;
 }
 
 
 /* Add this rule to fix the button appearance */
 .btn-outline-success {
  border-color: #fff;
  color: #020202;
 }
 
 
 .btn-outline-success:hover {
  background-color: #fff;
  color: #1e87ff;
 }
 .option-btn.btn-primary {
  background-color: #1c62b1;
  color: #fff;
 }
 .option-btn[data-correct="true"].highlight {
  background-color: #28a745;
  color: #fff;
  border-color: #28a745;
 }
 .btn-success {
  background-color: #28a745;
  color: #fff;
  border-color: #28a745;
 }
 
 
 .btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
 }
 
 
 .btn-danger {
  background-color: #dc3545;
  color: #fff;
  border-color: #dc3545;
 }
 
 
 .btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
 }
 nav.safari ul.nav-list li {
  display: inline-block;
 }
 .nav-list li {
  display: inline-block;
 }
 
 
 /* Add these styles to the existing style.css */

.section {
  text-align: center;
  margin-bottom: 50px;
}

.section h2 {
  margin-bottom: 20px;
}

.section ul {
  list-style-type: none;
  padding: 0;
}

.section li {
  margin-bottom: 10px;
}

.section p {
  text-align: justify;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.section .faqs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section .faq-item {
  width: 45%;
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.section .faq-item strong {
  display: block;
  margin-bottom: 5px;
}
/* Add to style.css */

.hero-section {
  background-image: url('file:///C:/Users/addisonglisson/Desktop/webappproject/backgroundtest.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 1.5rem;
  max-width: 800px;
  text-align: center;
}

.section {
  padding: 50px 0;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.section:nth-child(even) {
  background-color: #f5f5f5;
}

.section .faqs {
  justify-content: space-around;
}

.section .faq-item {
  width: 30%;
  transition: transform 0.3s;
}

.section .faq-item:hover {
  transform: translateY(-10px);
}

/* Add a Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}
/* Add to styles.css */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

table th, table td {
  border: 2px solid #1c62b1;
  padding: 15px;
  text-align: center;
  background-color: #f0f0f0;
}

table th {
  background-color: #1c62b1;
  color: #ffffff;
  font-weight: bold;
}
.scrollable-container {
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
}
/* Add your existing style.css content here */

/* Responsive navigation */
@media (max-width: 991.98px) {
  .nav {
      flex-direction: column;
  }

  .nav .brand {
      margin-bottom: 1rem;
  }

  .nav-list {
      display: flex;
      flex-wrap: wrap;
  }

  .nav-list li {
      flex: 1;
      text-align: center;
      padding: 0.5rem 0;
  }

  .search-form-container {
      width: 100%;
  }

  .search-input {
      width: 100%;
  }
  .main-header {
    height: auto; /* Allow the header to adjust its height based on its content */
}

.content {
    padding-top: 2rem; /* Add padding to the top of the content section */
}
}
.action-buttons {
  display: flex;
  justify-content: center;
    gap: 5px;
}

.action-buttons form {
  margin-bottom: 0.0rem;
  align-items: center;
}
.flashcards-table .btn-sm {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.flashcards-table td.actions {
  padding: 0;
}
@media (max-width: 576px) {
  .flashcards-table .btn-sm {
    font-size: 12px;
    padding: .25rem ;
    white-space: normal;
    width: 4rem;
  }
}
.flashcards-table td.actions {
  padding: 0;
}
.flashcards-table .btn-sm.add-to-set {
  white-space: normal;
}

.matching-card .card-body {
  min-height: 100px; /* Minimum height, cards can expand */
  padding: 1em; /* Relative padding */
  display: flex; /* Flexbox for inner alignment */
  align-items: center; /* Aligns content vertically */
  justify-content: center; /* Aligns content horizontally */
  text-align: center; /* Center text */
  word-wrap: break-word; /* Breaks long words */
  overflow-wrap: break-word; /* Ensures text wraps inside the card */
}

.matching-card .card-body p {
  font-size: 1rem; /* Responsive font size */
  margin: 0; /* Remove default margin */
}


.card {
  width: 100%;
  padding: 25px;  /* Add more padding here */
  box-sizing: border-box;
  line-height: 1;  /* Adjust line height */
  overflow-wrap: break-word; /* this will break long words to the new line */
}

@media (max-width: 800px) {
  .card {
    font-size: 1em;
  }
}

@media (max-width: 600px) {
  .card {
    font-size: .9em;
  }
}

@media (max-width: 400px) {
  .card {
    font-size: 0.7em;
  }
}
.user-name {
  font-size: 2em;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
}

.blog-post {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-card-title {
  font-family: 'Times New Roman', Times, serif;
}

.post-card-hr {
  border: 1px solid black;
}

.post-card-text {
  font-family: Arial, sans-serif;
  text-align: left;
  color: #030303;
}

.post-card-subtitle {
  font-size: 0.8rem;
  color: #6c757d;
}

.comments-section {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card-subtitle {
  margin-top: 10px; /* adjust this value as needed */
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #4e74a2;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.dropdown-item {
  display: block;
  width: 90%;
  padding: .5rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:hover {
  background-color: #1c62b1; /* Darkened blue */
  color: #ffffff; /* White text */
}
.study-pod {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.pod-title {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.pod-description {
  margin-bottom: 10px;
}

.floating-cta {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000; /* Ensure it's above other page elements */
  border-radius: 50px; /* Makes it pill-shaped */
  box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* Optional: adds a bit of shadow for depth */
  font-weight: bold;
  text-decoration: none;
}

.floating-cta:hover {
  background-color: #0056b3; /* Darker blue on hover */
  text-decoration: none;
  color: white;
}
.features-accordion .accordion-button {
  background-color: #f8f8f8;
  color: #333;
  padding: 10px 15px;
  border: 1px solid #ddd;
  text-align: left;
  width: 100%;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.features-accordion .accordion-button:after {
  content: '\002B'; /* Unicode character for "+" sign */
  color: #333;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.features-accordion .accordion-button.collapsed:after {
  content: "\2212"; /* Unicode character for "-" sign */
}

.features-accordion .accordion-collapse {
  border-top: 1px solid #ddd;
}

.features-accordion .accordion-body {
  padding: 15px;
  background-color: #fff;
}
.mc-flashcard .card {
  /* Allow the card to expand vertically as needed */
  height: auto; 
  /* Add some padding for better spacing */
  padding: 15px;
  /* If you want a minimum height, use min-height instead of height */
  min-height: 150px; 
  /* Optional: Add a box shadow or border for better card appearance */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.mc-flashcard .card-body {
  /* Ensure the card body takes the full height of the card */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute space between question and options */
}

.mc-flashcard .options {
  /* If the options are too many or too long, make them scrollable */
  overflow-y: auto;
  max-height: 200px; /* Adjust based on your preference */
  padding: 10px 0;
}

.join-pod-form {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
}
.profile-header {
  display: flex;
  flex-direction: row; /* Explicitly setting the direction to row */
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profile-info {
  flex-grow: 1;
  text-align: left; /* Aligns text to the left */
}


.profile-stats {
  display: flex;
}

.stat-box {
  margin-left: 15px;
  text-align: center;
}

.stat-number {
  font-size: 2em;
  font-weight: bold;
  color: #007bff;
}

.stat-label {
  font-size: 1em;
  color: #333;
}

/* Add more styling as needed */
.animated-gradient-line {
  height: 3px;
  background: linear-gradient(270deg, #ff70a3, #ff9770, #ffd670, #e9ff70);
  background-size: 800% 800%;
  animation: GradientMove 8s ease infinite;
  margin: 20px 0;
}

@keyframes GradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.pulsating-line {
  height: 3px;
  background: #0f0e0e;
  margin: 20px 0;
  position: relative;
  overflow: hidden;
}

.pulsating-line::before {
  content: '';
  position: absolute;
  top: 0;
  left: -150%;
  width: 300%;
  height: 100%;
  background: linear-gradient(to right, transparent, #1f40ad, transparent);
  animation: pulse 1.5s infinite linear;
}

@keyframes pulse {
  0% {
    left: -150%;
  }
  100% {
    left: 100%;
  }
}

.progress-table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

.progress-table-header, .progress-table-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
}

.progress-table-header {
  background-color: #f8f9fa;
  font-weight: bold;
}

.progress-table-row:nth-child(odd) {
  background-color: #f2f2f2;
}

.progress-table-row:nth-child(even) {
  background-color: #ffffff;
}
.accordion-item {
  margin-bottom: 10px;
}

.accordion-button {
  background: #007bff;
  color: white;
  padding: 10px;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.accordion-button.active, .accordion-button:hover {
  background-color: #0056b3;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f9f9f9;
  padding: 0 18px;
}

.accordion-content .stat-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.accordion-content .stat-item i {
  margin-right: 10px;
  color: #007bff; /* Adjust color as needed */
}

.accordion-content .stat-item span {
  flex-grow: 1;
}

.accordion-content .stat-item strong {
  font-weight: bold;
  color: #333; /* Adjust color as needed */
}

.graph-container {
  height: 300px; /* Placeholder for graph height */
  margin-top: 20px;
}

.navbar-nav .nav-link, .navbar-brand {
  color: #ffffff !important;
}

.navbar-brand img {
  height: auto;
  max-height: 100%;
  width: auto;
}

.navbar-nav {
  justify-content: center;
  width: 100%;
}

/* Targeting only the search form within the navbar */
.navbar .form-inline {
  background-color: transparent; /* Remove the background */
  padding: 0; /* Remove padding */
  border-radius: 0; /* Remove border radius */
  box-shadow: none; /* Remove box shadow */
}

/* Customizing the search input within the navbar */
.navbar .form-inline .form-control {
  border: 1px solid #ccc; /* Optional: Add border to the input */
  background-color: #f8f6f6; /* Make the input background transparent */
  box-shadow: none; /* Remove box shadow from input */
}

/* Customizing the search button within the navbar */
.navbar .form-inline .btn {
  border: 1px solid #f2efef; /* Optional: Add border to the button */
  background-color: transparent; /* Change to your desired button color */
  color: #ffffff; /* Change to your desired button text color */
  font-size: 1.3rem;
}
.main-header .navbar .container {
  width: 100%;
  min-width: 100%;
}
.navbar .container, .navbar .container-fluid {
  width: 100%;
}

.navbar-collapse {
  justify-content: center;
  flex-grow: 1;
  text-align: center;
}
.navbar {
  width: 100%;
}

.floating-action-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.floating-main {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #2b8eff; /* Your primary color */
  color: white;
  text-align: center;
  line-height: 30px;
  font-size: 30px;
  transition: transform 0.2s;
}

.floating-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  bottom: 60px; /* Height of the main button */
  left: 0;
}

.floating-menu li a {
  display: block;
  margin: 5px 0;
  background: rgb(235, 235, 235);
  color: #333;
  padding: 10px;
  border-radius: 50px;
  text-align: left;
  width: 200px; /* Width of the dropdown items */
  transition: all 0.3s;
}

.floating-menu li a:hover {
  background: #b6bcdee2;
}

.profile-picture-section {
  text-align: center;
  margin-bottom: 20px;
}

.avatar-selection {
  margin-bottom: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.avatar:hover {
  opacity: 0.7;
}

.name-input {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.update-profile-btn {
  margin-top: 10px;
}
.profile-picture img {
  border-radius: 50%; /* Makes the image round */
  float: left; /* Floats the image to the left */
  margin-right: 20px; /* Adds space to the right of the image */
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}
