<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Profile
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href="{{ url_for('profile') }}">View Profile</a>
      <a class="dropdown-item" href="{{ url_for('progress') }}">Progress</a>
      <a class="dropdown-item" href="{{ url_for('create_pod') }}">Create Pod</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link virtualtutuor-link" href="{{ url_for('virtual_tutor') }}">Virtual Tutor</a>
</li>
<li class="nav-item">
    <a href="{{ url_for('blog') }}" class="nav-link">Blog</a>
</li>
