<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfileLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Profile
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownProfileLink">
    <a class="dropdown-item" href="{{ url_for('profile') }}"><i class="fa fa-user-circle"></i> View Profile</a>
    <a class="dropdown-item" href="{{ url_for('progress') }}"><i class="fa fa-line-chart"></i> Progress</a>
    <a class="dropdown-item" href="{{ url_for('create_pod') }}"><i class="fa fa-plus-square"></i> Create Pod</a>
    <a class="dropdown-item" href="{{ url_for('generate_flashcards') }}"><i class="fa fa-flash"></i> Mass Flashcard</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i> Logout</a>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlogLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      AI Tutors
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownBlogLink">
      <a class="dropdown-item" href="{{ url_for('virtual_tutor') }}"><i class="fa fa-lightbulb"></i> General Tutor</a>
      <a class="dropdown-item" href="{{ url_for('advanced_tutor') }}"><i class="fa fa-rocket"></i> Advanced Tutor</a>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlogLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Explore
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownBlogLink">
      <a class="dropdown-item" href="{{ url_for('home') }}"><i class="fa fa-home"></i> Home</a>
      <a class="dropdown-item" href="{{ url_for('public_sets') }}"><i class="fa fa-clipboard"></i> Flashcard Sets</a>
      <a class="dropdown-item" href="{{ url_for('study_pods') }}"><i class="fa fa-users"></i> Study Pods</a>
      <a class="dropdown-item" href="{{ url_for('blog') }}"><i class="fa fa-rss"></i> Blog</a>
      
  </div>
</li>