<html lang="en">


<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   {% block meta_description %}
   <meta name="description" content="QuaizFlash is an AI-powered platform for creating, sharing, and studying flashcard sets, featuring a virtual tutor and personalized learning plans.">
   {% endblock %}


   <title>{% block title %}QuaizFlash - AI-Powered Flashcard Learning Platform{% endblock %}</title>

   <link rel="icon" type="image/png" href="{{ url_for('static', filename='qflogo.png') }}" />



   <!-- Add Google Fonts -->
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    
   <!-- Add SimpleMDE CSS -->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='simplemde.min.css') }}">
  
   <!-- Add Bootstrap CSS -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


   <!-- Add CSS -->
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-1RWKSV1Z23"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'G-1RWKSV1Z23');
   </script>
   <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7995636025345480"
   crossorigin="anonymous"></script>

   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

   {% block head %}{% endblock %}
</head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">


<body>
    <header class="main-header">
        <nav class="navbar navbar-expand-lg navbar-light">
            
                <!-- Brand Logo -->
                <a href="{{ url_for('index') }}" class="navbar-brand">
                    <img src="{{ url_for('static', filename='qflogo.png') }}" alt="QuAIzFlash Logo" style="height: 80px; width: 100px;">
                </a>
    
                <!-- Toggle button for mobile view -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <!-- Navbar links and search form -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        {% if session.logged_in %}
                            {% include '_nav_logged_in.html' %}
                        {% else %}
                            {% include '_nav_logged_out.html' %}
                        {% endif %}
                    </ul>
                    <form class="form-inline my-2 my-lg-0" method="POST" action="{{ url_for('search_sets') }}">
                        {{ search_form.csrf_token }}
                        <div class="input-group">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search_query" id="search_query" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-success" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            
        </nav>
    </header>
    
    




   <section class="content">
       <div class="container">
           {% for message in get_flashed_messages() %}
           <p>{{ message }}</p>
           {% endfor %}
           {% block content %}{% endblock %}
       </div>
   </section>


   <footer class="main-footer">
       <div class="container">
           <p>&copy; {{ year }} QuAIzFlash All rights reserved.</p>
           <p>Contact us: <a href="mailto:info@quaizflash.com">info@quaizflash.com</a></p>
       </div>
   </footer>
   <div class="floating-action-button">
    <a href="#" class="floating-main" id="floating-main">
        <i class="fas fa-bars"></i> <!-- Icon for the main button -->
    </a>
    <ul class="floating-menu">
        <li><a href="{{ url_for('profile') }}"><i class="fas fa-user"></i> Profile</a></li>
        <li><a href="{{ url_for('index') }}"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="{{ url_for('generate_flashcards') }}"><i class="fas fa-plus-square"></i> Mass Flashcard</a></li>
        <li><a href="{{ url_for('create_pod') }}"><i class="fas fa-users"></i> Create Pod</a></li>
        <li><a href="{{ url_for('blog') }}"><i class="fas fa-rss"></i> Blog</a></li>
        <li><a href="{{ url_for('virtual_tutor') }}"><i class="fas fa-robot"></i> Virtual Tutor</a></li>
        <li><a href="{{ url_for('progress') }}"><i class="fas fa-chart-line"></i> Progress</a></li>
    </ul>
</div>


   {% block scripts %}


   <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
   <script src="{{ url_for('static', filename='simplemde.min.js') }}"></script>
   <script>
    
    $(document).ready(function(){
        setTimeout(function() {
            $(".alert").slideUp(500);
        }, 3000);

        var simplemde = new SimpleMDE({ element: document.getElementById("content") });
        console.log(simplemde);
    });

</script>
   <script>
    
       $(document).ready(function(){
           setTimeout(function() {
               $(".alert").slideUp(500);
           }, 3000);
       });
       </script>
    
    <script>
        document.getElementById('floating-main').addEventListener('click', function(e) {
            e.preventDefault();
            var menu = document.querySelector('.floating-menu');
            menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
        });
    </script>
   {% endblock %}

   {% if not session.logged_in %}
   <a href="{{ url_for('register') }}" class="btn btn-primary floating-cta animated pulse infinite">Join Now!</a>
{% endif %}
</body>


</html>
