<html lang="en">


<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   {% block meta_description %}
   <meta name="description" content="QuaizFlash is an AI-powered platform for creating, sharing, and studying flashcard sets, featuring a virtual tutor and personalized learning plans.">
   {% endblock %}


   <title>{% block title %}QuaizFlash - AI-Powered Flashcard Learning Platform{% endblock %}</title>


   <!-- Add Google Fonts -->
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
  
   <!-- Add CSS -->
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


   {% block head %}{% endblock %}
</head>


<body>
   <header class="main-header">
       <div class="container">
           <nav class="nav">
               <a href="{{ url_for('index') }}" class="brand">QuAIzFlash</a>
               <ul class="nav-list">
                {% if session.logged_in %}
                    {% include '_nav_logged_in.html' %}
                {% else %}
                    {% include '_nav_logged_out.html' %}
                {% endif %}
            </ul>
            
               <form class="form-inline my-2 my-lg-0 search-form-container" method="POST" action="{{ url_for('search_sets') }}">
                   {{ search_form.csrf_token }}
                   <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search" aria-label="Search" name="search_query" id="search_query" required>
                   <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
               </form>
           </nav>
       </div>
   </header>




   <section class="content">
       <div class="container">
           {% for message in get_flashed_messages() %}
           <p>{{ message }}</p>
           {% endfor %}
           {% block content %}{% endblock %}
       </div>
   </section>


   <footer class="main-footer">
       <div class="container">
           <p>&copy; {{ year }} QuAIzFlash All rights reserved.</p>
       </div>
   </footer>


   {% block scripts %}


   <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   <script>
    
       $(document).ready(function(){
           setTimeout(function() {
               $(".alert").slideUp(500);
           }, 3000);
       });
       </script>
   {% endblock %}


</body>


</html>