{% extends "base.html" %}

{% block content %}
    <h1>Create a new flashcard set</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="{{ form.title.id }}">Title</label>
            {{ form.title(class="form-control") }}
        </div>
        <div class="form-group">
            <label for="{{ form.description.id }}">Description</label>
            {{ form.description(class="form-control", rows=5) }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}
