{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <h1 class="post-title">{{ post.title }}</h1>
    
    <!-- Image Display -->
    {% if post.image_filename %}
        <div class="post-image-container my-3">
            <img src="{{ url_for('static', filename='uploads/' + post.image_filename) }}" alt="Image for {{ post.title }}" class="post-image">
        </div>
    {% endif %}

    <div class="post-content mt-3">
        <p>{{ post.content }}</p>
    </div>

    <!-- Displaying Previous Comments -->
    <div class="comments-section mt-5">
        <h3>Previous Comments:</h3>
        {% for comment in post.comments %}
            <div class="card mt-3">
                <div class="card-body">
                    <p class="card-text">{{ comment.content }}</p>
                    <h6 class="card-subtitle mb-2 text-muted">Posted by {{ comment.user.username }} on {{ comment.date_posted.strftime('%Y-%m-%d') }}</h6>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Comment Form -->
    <form class="form-group mt-5" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group mb-2">
            <h4 class="form-label">{{ form.content.label.text }}</h4>
            {{ form.content(id="comment_content", class="form-control", rows=5) }}
        </div>
        {{ form.submit(class="btn btn-primary mb-2") }}
    </form>
</div>
{% endblock content %}