{% extends "base.html" %}
{% block meta_description %}
<meta name="description" content="QuaizFlash is a revolutionary platform designed to transform the way you create, share, and study flashcards . Our advanced AI technology streamlines the learning process, making it more efficient and engaging than ever before.">
{% endblock %}

{% block title %}
QuaizFlash - Home
{% endblock %}
{% block content %}
  <div class="container">
    <h1>Welcome to QuAIzFlash</h1>
    <img src="{{ url_for('static', filename='quaizflashlogo.png') }}" alt="QuaizFlash Logo" style="width: 500px; height: auto;">

    <div class="section">
        <h2>Discover the Future of Learning with QuAIzFlash</h2>
        <p>
            QuAIzFlash is a revolutionary platform designed to transform the way you create, share, and study flashcard sets. Our advanced AI technology streamlines the learning process, making it more efficient and engaging than ever before. By integrating AI-powered flashcard creation from various sources like YouTube videos and article URLs, QuaizFlash saves time and allows users to focus on mastering the content. In addition, our platform provides a unique quizzing system that enables users to test their knowledge on their own flashcard sets or explore public sets shared by others in the community.
            
            With our AI-driven virtual tutor, QuAIzFlash goes beyond traditional study platforms. Our virtual tutor helps users understand complex subjects and creates personalized learning plans tailored to individual needs, ensuring a more targeted and effective learning experience. QuaizFlash also fosters a collaborative learning environment, allowing users to share their flashcard sets and benefit from the collective knowledge of our growing community.
            
            Experience the future of flashcard-based learning with QuaizFlash, and unlock your full potential. Here's what QuaizFlash has to offer:</p>
        <table>
          <tr>
            <th>AI-Powered Flashcard Creation</th>
            <th>Quiz Yourself and Others</th>
            <th>Virtual Tutor Assistance</th>
          </tr>
          <tr>
            <td>Use AI to generate flashcards from YouTube videos or article URLs, making it easy to filter the content you need and quickly study the information that matters.</td>
            <td>Test your knowledge by quizzing yourself on your own sets or explore public sets shared by other users.</td>
            <td>Our AI-driven virtual tutor helps you understand complex subjects and creates personalized learning plans tailored to your needs.</td>
          </tr>
        </table>
        <p style="text-align: center;">Join QuaizFlash today and revolutionize the way you learn!</p>
      </div>
    <div class="section">
      <h2>FAQ</h2>
      <div class="faqs">
        <div class="faq-item">
          <strong>What is QuAIzFlash?</strong>
          <p>QuAIzFlash is an online platform that uses AI technology to create and share flashcard sets for study purposes, helping users learn more effectively.</p>
        </div>
        <div class="faq-item">
          <strong>How do I create a flashcard set?</strong>
          <p>To create a flashcard set, register for a free account and then click on "Create Set" in the navigation menu. You can use AI to generate flashcards from YouTube videos, article URLs, or plain text.</p>
        </div>
        <div class="faq-item">
          <strong>Can I make my own flashcards manually?</strong>
          <p>Yes! If you want to make your own flashcards, just simply use the add flashcard button in your flashcard sets.</p>
        </div>
        <div class="faq-item">
          <strong>What if the AI flashcard is a not exactly what I want?</strong>
          <p>That is not a probem, you can easily edit or delet flashcards on your profile.</p>
        </div>
        <div class="faq-item">
          <strong>Can I share my flashcard sets with others?</strong>
          <p>Yes, you can make your flashcard sets public, allowing others to view and quiz themselves on your sets.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
