{% extends "base.html" %}
{% block meta_description %}
<meta name="description" content="QuaizFlash is a revolutionary platform designed to transform the way you create, share, and study flashcards . Using advanced AI technology streamlines the learning process, making it more efficient and engaging than ever before.">
{% endblock %}

{% block title %}
QuaizFlash - Home
{% endblock %}
{% block content %}
  <div class="container">
    <h1>Welcome to QuAIzFlash</h1>
    <div class="dropdown-divider"></div>
    <img src="{{ url_for('static', filename='quaizflashlogo.png') }}" alt="QuaizFlash Logo" style="max-width: 100%; height: auto;">
    <div class="section">
        <div class="discover-future-box" style="border: 2px solid #333; border-radius: 5px; padding: 20px; margin: 10px 0;">
            <h2 style="font-weight: bold; font-size: 24px;">Discover the Future of Learning with QuAIzFlash</h2>
            <hr>
            <p style="font-size: 18px; line-height: 1.6;">
                QuAIzFlash is a revolutionary platform designed to transform the way you create, share, and study flashcard sets. Our advanced AI technology streamlines the learning process, making it more efficient and engaging than ever before. By integrating AI-powered flashcard creation from various sources like YouTube videos and article URLs, QuaizFlash saves time and allows users to focus on mastering the content. In addition, our platform provides a unique quizzing system that enables users to test their knowledge on their own flashcard sets or explore public sets shared by others in the community.
            </p>
            <p style="font-size: 18px; line-height: 1.6;">
                With our AI-driven virtual tutor, QuAIzFlash goes beyond traditional study platforms. Our virtual tutor helps users understand complex subjects and creates personalized learning plans tailored to individual needs, ensuring a more targeted and effective learning experience. QuaizFlash also fosters a collaborative learning environment, allowing users to share their flashcard sets and benefit from the collective knowledge of our growing community.
            </p>
            <p style="font-size: 18px; line-height: 1.6;">
                Experience the future of flashcard-based learning with QuaizFlash, and unlock your full potential. Here's what QuaizFlash has to offer:
            </p>
        </div>

        <div class="section features-accordion">
          <h2>Our Features</h2>
          <hr>
          <div id="featuresAccordion">
        
            <!-- Feature Item 1 -->
            <div class="card">
              <div class="card-header" id="headingOneFeature">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOneFeature" aria-expanded="true" aria-controls="collapseOneFeature">
                    AI-Powered Flashcard Creation
                  </button>
                </h5>
              </div>
              <div id="collapseOneFeature" class="collapse show" aria-labelledby="headingOneFeature">
                <div class="card-body">
                  Use AI to generate flashcards from YouTube videos or article URLs, making it easy to filter the content you need and quickly study the information that matters.
                </div>
              </div>
            </div>
        
            <!-- Feature Item 2 -->
            <div class="card">
              <div class="card-header" id="headingTwoFeature">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoFeature" aria-expanded="false" aria-controls="collapseTwoFeature">
                    Quiz Yourself and Others
                  </button>
                </h5>
              </div>
              <div id="collapseTwoFeature" class="collapse" aria-labelledby="headingTwoFeature">
                <div class="card-body">
                  Test your knowledge by quizzing yourself on your own sets or explore public sets shared by other users.
                </div>
              </div>
            </div>
        
            <!-- Feature Item 3 -->
            <div class="card">
              <div class="card-header" id="headingThreeFeature">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThreeFeature" aria-expanded="false" aria-controls="collapseThreeFeature">
                    Virtual Tutor Assistance
                  </button>
                </h5>
              </div>
              <div id="collapseThreeFeature" class="collapse" aria-labelledby="headingThreeFeature">
                <div class="card-body">
                  Our AI-driven virtual tutor helps you understand complex subjects and creates personalized learning plans tailored to your needs.
                </div>
              </div>
            </div>
            <!-- Study Pod Feature -->
<div class="card">
  <div class="card-header" id="headingStudyPod">
      <h5 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseStudyPod" aria-expanded="false" aria-controls="collapseStudyPod">
              Study Pod Collaboration
          </button>
      </h5>
  </div>
  <div id="collapseStudyPod" class="collapse" aria-labelledby="headingStudyPod">
      <div class="card-body">
          Engage in collaborative learning with Study Pods. Create or join groups to discuss topics, share resources, and learn together with peers, enhancing your understanding and making studying more interactive and fun.
      </div>
  </div>
</div>
<!-- Progress Feature -->
<div class="card">
  <div class="card-header" id="headingProgress">
      <h5 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseProgress" aria-expanded="false" aria-controls="collapseProgress">
              Personalized Learning Progress Tracking
          </button>
      </h5>
  </div>
  <div id="collapseProgress" class="collapse" aria-labelledby="headingProgress">
      <div class="card-body">
          Monitor your learning journey with our Progress feature. Track the time spent studying, assess your performance through correct and incorrect answers, and gain insights into your learning habits to optimize your study sessions effectively.
      </div>
  </div>
</div>
<!-- Mass Flashcard Creation Feature -->
<div class="card">
  <div class="card-header" id="headingMassFlashcard">
      <h5 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseMassFlashcard" aria-expanded="false" aria-controls="collapseMassFlashcard">
              Efficient Mass Flashcard Creation
          </button>
      </h5>
  </div>
  <div id="collapseMassFlashcard" class="collapse" aria-labelledby="headingMassFlashcard">
      <div class="card-body">
          Streamline your study preparation with our Mass Flashcard Creation feature. Quickly generate multiple flashcards from a range of sources, saving time and enhancing your study efficiency. Ideal for rapid content absorption and review.
      </div>
  </div>
</div>

        
          </div>
        </div>
        
<div class="section">
  <h2>FAQ</h2>
  <hr>
  <div class="accordion" id="faqAccordion">
    
    <!-- FAQ Item 1 -->
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            What is QuAIzFlash?
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqAccordion">
        <div class="card-body">
          QuAIzFlash is an online platform that uses AI technology to create and share flashcard sets for study purposes, helping users learn more effectively.
        </div>
      </div>
    </div>
    
    <!-- FAQ Item 2 -->
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            How do I create a flashcard set?
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqAccordion">
        <div class="card-body">
          To create a flashcard set, register for a free account and then click on "Create Set" in the navigation menu. You can use AI to generate flashcards from YouTube videos, article URLs, or plain text.
        </div>
      </div>
    </div>
    
    <!-- FAQ Item 3 -->
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Can I make my own flashcards manually?
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqAccordion">
        <div class="card-body">
          Yes! If you want to make your own flashcards, just simply use the add flashcard button in your flashcard sets.
        </div>
      </div>
    </div>
    
    <!-- FAQ Item 4 -->
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            What if the AI flashcard is not exactly what I want?
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqAccordion">
        <div class="card-body">
          That is not a problem, you can easily edit or delete flashcards on your profile.
        </div>
      </div>
    </div>
    
    <!-- FAQ Item 5 -->
    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Can I share my flashcard sets with others?
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqAccordion">
        <div class="card-body">
          Yes, you can make your flashcard sets public, allowing others to view and quiz themselves on your sets.
        </div>
      </div>
    </div>
    
  </div>
</div>

<!-- ... Rest of your content ... -->
{% endblock %}