{% extends "index.html" %}
{% block meta_description %}
<meta name="description" content="Your QuaizFlash profile with all of your AI-powered flashcards, flashcard sets, and personalized study plans. Quiz and view your flashcards.">
{% endblock %}
{% block content %}
  <h1>{{ title }}</h1>
  <h2 class="section-title">My Flashcards</h2>
  <div class="scrollable-container">
    <table class="flashcards-table">
      <tr>
        <th>Question</th>
        <th>Answer</th>
        <th>Actions</th>
      </tr>
      {% for flashcard in flashcards %}
        <tr>
          <td>{{ flashcard.question }}</td>
          <td>{{ flashcard.answer }}</td>
          <td class="actions">
            <div class="action-buttons">
              <form method="GET" action="{{ url_for('edit_flashcard', flashcard_id=flashcard.id) }}">
                <input type="submit" value="Edit" class="btn btn-sm btn-outline-info">
              </form>
              <form method="POST" action="{{ url_for('delete_flashcard', flashcard_id=flashcard.id) }}">
                <input type="submit" value="Delete" class="btn btn-sm btn-outline-danger" onclick="return confirm('Are you sure you want to delete this flashcard?');">
              </form>
              <form method="GET" action="{{ url_for('select_set', flashcard_id=flashcard.id) }}">
                <input type="submit" value="Add to Set" class="btn btn-sm btn-outline-primary add-to-set">
              </form>
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>


  {% if flashcard_sets %}
    <h3 class="section-title">My Flashcard Sets</h3>
    <ul>
        {% for flashcard_set in flashcard_sets %}
        <div class="flashcard-set">
          <p class="set-title"><strong>{{ flashcard_set.title }}</strong></p>
          <p class="set-description">{{ flashcard_set.description }}</p>
                <form method="GET" action="{{ url_for('new_flashcard', set_id=flashcard_set.id) }}" style="display: inline;" class="bottom-buttons no-style-form">
                  <input type="submit" value="Add Flashcard" class="btn btn-sm btn-outline-info">
                </form>
                <form method="GET" action="{{ url_for('flashcard_set', set_id=flashcard_set.id) }}" style="display: inline;" class="bottom-buttons no-style-form">
                  <input type="submit" value="View Set" class="btn btn-sm btn-outline-primary">
                </form>
                <form method="GET" action="{{ url_for('quiz_settings', set_id=flashcard_set.id) }}" style="display: inline;" class="bottom-buttons no-style-form">
                  <input type="submit" value="Quiz Me" class="btn btn-sm btn-outline-success">
                </form>                              
              </div>
        {% endfor %}
    </ul>
  {% else %}
    <p>No flashcard sets found.</p>
  {% endif %}
{% endblock %}
