{% extends "base.html" %}
{% block meta_description %}
<meta name="description" content="Register to join QuaizFlash and get access advanced AI-powered flashcard learning and personalized study plans. Create, quiz, and study personal and public flashcards with ease.">
{% endblock %}
{% block content %}
<div class="container">
    <h1>Register</h1>
    <form action="/register" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <p>Already have an account? <a href="/login">Log in</a></p>
</div>
<script src="/static/register.js"></script>
{% endblock %}
