{% extends "base.html" %}

{% block content %}
    <h2>Reset Password</h2>
    <form method="POST" action="{{ url_for('reset_password', token=token, _external=True) }}">
        <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter a new password" required>
        </div>
        <button type="submit" class="btn btn-primary">Update Password</button>
    </form>
{% endblock %}