{% extends "base.html" %}
{% block meta_description %}
<meta name="description" content="Search public flashcard sets on quiazflash and start learning today, all sets are public and make collaborative learning easy.">
{% endblock %}
{% block content %}
  <div class="container">
    <h1>Search Public Flashcard Sets</h1>

    <form method="POST" action="{{ url_for('search_sets') }}" class="search-form">
      {{ form.csrf_token }}
      <div class="form-group">
        <label for="search_query" class="search-label">Search:</label>
        <input type="text" name="search_query" id="search_query" class="form-control search-input" required>
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>

    {% if flashcard_results %}
      <div class="search-results">
        <h2>Flashcard Sets</h2>
        <div class="row">
          {% for result in flashcard_results %}
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ result.title }}</h5>
                  <p class="card-text">{{ result.description|truncate(100, true) }}</p>
                  <a href="{{ url_for('view_searched_set',set_id=result.id ) }}" class="btn btn-sm btn-outline-primary">View Set</a>
                  <a href="{{ url_for('quiz_searched_set',set_id=result.id, quiz_mode='question' ) }}" class="btn btn-sm btn-outline-primary">Quiz Set</a>
                </div>
              </div>
            </div>
            {% if loop.index is divisibleby 3 %}
              <!-- Ad Placement -->
              <div class="col-md-12 mb-3">
                <!-- Ad Content Here -->
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if studypod_results %}
      <div class="search-results">
        <h2>StudyPods</h2>
        <div class="row">
          {% for pod in studypod_results %}
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ pod.name }}</h5>
                  <p class="card-text">{{ pod.description|truncate(100, true) }}</p>
                  <a href="{{ url_for('view_pod',pod_id=pod.id ) }}" class="btn btn-sm btn-outline-primary">View Pod</a>
                  <form action="{{ url_for('join_pod', pod_id=pod.id) }}" method="POST" class="join-pod-form">
                    <button type="submit" class="btn btn-sm btn-outline-primary">Join Pod</button>
                </form>
                </div>
              </div>
            </div>
            {% if loop.index is divisibleby 3 %}
              <!-- Ad Placement -->
              <div class="col-md-12 mb-3">
                <!-- Ad Content Here -->
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}

  </div>
{% endblock %}