{% extends "base.html" %}
{% block meta_description %}
<meta name="description" content="Search public flashcard sets on quiazflash and start learning today, all sets are public and make collaborative learning easy.">
{% endblock %}
{% block content %}
  <div class="container">
    <h1>Search Public Flashcard Sets</h1>

    <form method="POST" action="{{ url_for('search_sets') }}" class="search-form">
      {{ form.csrf_token }}
      <div class="form-group">
        <label for="search_query" class="search-label">Search:</label>
        <input type="text" name="search_query" id="search_query" class="form-control search-input" required>
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>

    {% if flashcard_results %}
      <div class="search-results">
        <h2><span class="search-results-title">Search Results</span></h2>
        <ul>
        {% for result in flashcard_results %}
          <li>{{ result.title }}</li>
          <form method="GET" action="{{ url_for('view_searched_set',set_id=result.id ) }}" class="inline-form">
            <input type="submit" value="View Set" class="btn btn-sm btn-outline-primary">
          </form>
          <form method="GET" action="{{ url_for('quiz_searched_set',set_id=result.id, quiz_mode='question' ) }}" class="inline-form">
            <input type="submit" value="Quiz Set" class="btn btn-sm btn-outline-primary">
          </form>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if studypod_results %}
  <div class="search-results">
    <h2><span class="search-results-title">StudyPods</span></h2>
    <ul>
    {% for pod in studypod_results %}
      <li>{{ pod.name }}</li>
      <form method="GET" action="{{ url_for('view_pod',pod_id=pod.id ) }}" class="inline-form">
        <input type="submit" value="View Set" class="btn btn-sm btn-outline-primary">
      </form>
      <!-- Add more HTML to interact with the study pods... -->
    {% endfor %}
    </ul>
  </div>
{% endif %}


  </div>
{% endblock %}
